.flag {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    width: 1200px;
    grid-template-rows: repeat(13, 50px);
    background-color: white;
    border: solid black 1px;
}

.stars {
    position: absolute;
    height: 350px;
    width: 550px;
    background-image: url("img/stars.png");
    background-size: 550px, auto;
    background-repeat: no-repeat;
    z-index: 1;
}

.stripes:nth-child(2n + 2) {
    background-color: red;
}
