.flex-container {
	display: flex;
	justify-content: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 10px;
}

.product {
	display: grid;
	grid-template-rows: 1fr 5fr 2fr;
	width: 300px;
	height: 400px;
	border: solid 2px;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	background-color: white;
	text-align: center;
}

.product img {
	width: 300px;
	height: auto;
}

input[type="button"] {
	background-color: #5aa9dd;
	border-color: #5aa9dd;
	border-radius: 20px;
	color: white;
	padding: 15px;
}

input[type="button"]:hover {
	background-color: #3594d3;
	border-color: #3594d3;
}
