* {
	font-family: monospace;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(#6fb7ff, #a4b5ff);
	background-repeat: no-repeat;
	height: 160vh;
}

.header__main {
	height: 60px;
	margin-bottom: 50px;
	padding-top: 35px;
	border-bottom: solid black;
	background-color: #6fb7ff;
	z-index: 1;
}

.header__main-ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.header__main-ul li {
	list-style: none;
	font-size: 18px;
}

.header__main-ul li:hover {
	text-decoration: underline;
}

.header__main-ul a {
	text-decoration: none;
	color: black;
}
